@page "/sorting"
@using AlgorithmVisualizer.Client.Algorithms.Sorting

<PageTitle>Sorting Visualization</PageTitle>

<h1>@AlgorithmTitle</h1>
<p>
    <button class="btn btn-primary" @onclick="Shuffle">Shuffle Array</button>
    <button class="btn btn-primary" @onclick="Sort">Sort Array</button>
    <button class="btn btn-primary" @onclick="SetDefault" hidden="@HideResetButton">Clear Algorithm</button>
</p>
<p>
    <button class="btn btn-primary" @onclick="SetInsertionSort">Insertion Sort</button>
    <button class="btn btn-primary" @onclick="SetMergeSort">Merge Sort</button>
    <button class="btn btn-primary" @onclick="SetQuickSort">Quick Sort</button>
    <button class="btn btn-primary" @onclick="SetSelectionSort">Selection Sort</button>
</p>


@if (SortingArray.Count > 0)
{
    <div class="array-container">

        @foreach (var barHeight in SortingArray.Select(height => ScaleHeight(height) + "px"))
        {
            <div class="array-bar" 
                 style = "height: @barHeight">
            </div>
        }
    </div>
}

@code {
    private ISorter _sorter = new DefaultSort();

    public List<int> SortingArray = new ();

    private int _length = 100;
    private decimal minHeight = 10;
    private decimal maxHeight = 1000;

    CancellationTokenSource? _cts;

    

    protected override void OnInitialized()
    {
        SetArray();
        Shuffle();
    }

    private string AlgorithmTitle => _sorter is DefaultSort ? "Sorting" : _sorter.GetType().Name;

    private bool HideResetButton => _sorter is DefaultSort;

    private void SetDefault()
    {
        _sorter = new DefaultSort();
    }

    private void SetInsertionSort()
    {
        _sorter = new InsertionSort(this, 1);
    }

    private void SetQuickSort()
    {
        _sorter = new QuickSort(this, 3);
    }

    private void SetMergeSort()
    {
        _sorter = new MergeSort(this, 3);
    }

    private void SetSelectionSort()
    {
        _sorter = new SelectionSort(this, 10);
    }

    private async void Sort()
    {
        if (_sorter is DefaultSort)
            SortingArray.Sort();
        else
        {
            _cts = new CancellationTokenSource();
            try
            {
                await _sorter.Sort(_cts.Token);
            }
            catch (Exception)
            {
                _cts.Dispose();
            }

        }
    }

    private void Shuffle()
    {
        CancelSort();
        SetArray();

        var random = new Random();

        for (var i = SortingArray.Count - 1; i > 1; i--)
        {
            var rnd = random.Next(i + 1);

            (SortingArray[rnd], SortingArray[i]) = (SortingArray[i], SortingArray[rnd]);
        }
    }

    private void CancelSort()
    {
        _cts?.Cancel();
    }

    private void SetArray()
    {
        SortingArray = new List<int>();
        for (var i = 0; i < _length; i++)
        {
            SortingArray = SortingArray.Append(i + 1).ToList();
        }

        RefreshUi();
    }

    private int ScaleHeight(int height) => (int)(height * (maxHeight - minHeight) / SortingArray.Count + minHeight);

    public void RefreshUi() => StateHasChanged();

}
